.store-breadcrumbs {
	.breadcrumb {
		background: transparent;
		padding: 0;
		padding-top: 10px;
		padding-bottom: 10px;

		.breadcrumb-item {
			&.active {
				color: #343a40; // Active breadcrumb text color
			}

			a {
				color: green; // Breadcrumb link color
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	.breadcrumb-item + .breadcrumb-item::before {
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}

	.breadcrumb {
		background-color: #f8f9fa; // Background color
		padding: 8px 15px; // Padding
		border-radius: 4px; // Rounded corners
	}
}
